*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(180deg, #5252ff, #4ec4ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hide{
    display: none;
}
.container{
    background: #ffffff26;
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    color: #090909;
    border: 1px solid #ffffff2e;
    padding: 2rem;
    width: 350px;
}

.form h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-input-container{
    display: flex;
}
.form input{
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 5px;
}

.form button{
    padding: .8rem 1rem;
    border: none;
    background: #aaf6ff;
    color: #000000;
    font-weight: 600;
    margin-left: .5rem;
    border-radius: 5px;
    cursor: pointer;

}
/* Clima */
#weather-data{
    border-top: 1px solid #ffffff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
}

#weather-data h2 i{
    font-size: 1rem;
}
#weather-data span{
    margin: 0.6rem;
}
#country{
    height: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #00000040;
}
#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem 0;
}

#details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#details-container #umidity{
    border-right: 1px solid #ffffff;
    margin: 0.6rem;
    padding: 0.6rem;
}